@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.txt-ellipsie{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

/* style */
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    position: relative;
    height: 100vh;
}

.select-box{
    line-height: 14px;
    font-size: 12px;
    width: 200px;
    margin: 100px auto 0;
}

.btn-select{
    width:100%;
    padding: 11px 24px 11px 12px;
    text-align: start;
    border-radius: 10px;
    border: 1px #C4C4C4 solid;
    background: url(images/icon-Triangle-down.svg) no-repeat;
    background-position: right 13px center;
    cursor: pointer;
    line-height: 16px;
}

.btn-select.on{
    outline: 3px solid #F8E4FF;
    border: solid 1px #9B51E0;
    background-image: url(images/Polygon\ 1.svg);
}

.cont-lists{
    background-color: white;
    border: 1px #C4C4C4 solid;
    border-radius: 10px;
    box-shadow: 4px 4px 14px 0px #00000026;
    margin-top: 9px;
    padding: 3px 0;
    display: none;
}

.btn-select.on + .cont-lists{
    display: block;
}

.cont-lists li button{
    cursor:pointer;
    width: 184px;
    height: 30px;
    text-align:start;
    margin: 4px auto;
    cursor: pointer;
    padding-left: 10px;
    display: block;
    border-radius: 8px;
}

.cont-lists li:hover button,
.cont-lists li:focus button
{
    background-color: #F8E4FF;
}