@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
/* reset */
body,p{
    margin: 0; 
}

p{
    font-size: initial;
    font-weight: initial;
}

a{
    text-decoration: none;
    color:initial;
}

/* blind */
.blind{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* style */
*{
    box-sizing: border-box;
}

body{
    
    background-color: #dddddd;
    position: relative;
    height: 100vh;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.login{
    background-color: #FFFFFF;
    width: 500px;
    border-radius: 5px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border: 1px #C4C4C4 solid;
    text-align: center;
}

.logo-login{
    margin: 29px auto 26px; 
}

.des-login{
    font-size: 16px;
    line-height: 100%;
}

.btn-login{
    background-color: #2F80ED;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    display: block;
    width: 440px;
    padding: 17px 0 15px 0 ;
    margin: 32px auto 29px;
    border-radius: 5px;
}